body {
	margin: 0px;
	padding: 0px;
}

.header {
	border-bottom: 2px solid 
	#dc0101;
}

.page {
}

.footer {
}

.column {
	/*border: 1px solid black;*/
	width: 1000px;
	margin: 0px auto;
}

.page .column {
	height: 100vh;
}

#logo-i-social {
	display: flex;
}

#logo-holder{
    flex-grow: 1;
}
#social-holder a{
text-decoration:none;
}
#social-holder{
	
    flex-grow: 1;
    text-align: right;
}



#social-holder a img {
	margin: 5px;
	height: 24px;
	width: 24px;
}

#main-menu {
	display: flex;
}

#main-menu a {
	flex-grow: 1;
	text-align: center;
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	color: #dc0101;
	transition: 300ms;
}

#main-menu a:hover {
	background: #dc0101;
	color: #FFFFFF;
}

#slik {
	height: 70px;
	width: 80px;
}
#pocetna{
	text-align:center;
	color: #ffffff;
	background:url('nebo.jpg');
		background-size: cover; 
		background-attachment: fixed;
}
#pocetna h1{
	font-size:48pt;
	margin-top:0px;
	padding-top: calc(50vh - 225px);
}

.darkbox{
	background-color:#22222250;
	border:1px solid #ffffff;
	font-size:24pt;
	padding:40px;
}
#usluge {
	text-align:center;
	color: #ffffff;
	background:url('pozadina2.jpg');
		background-size: cover; 
		background-attachment: fixed;
}
#karijera {
	text-align:center;
	color: #ffffff;
	background:url('pozadina3.jpg');
		background-size: cover; 
		background-attachment: fixed;
}
.align-center{
	text-align: center;
}
.krugovi{
	display: flex;
	margin: 25px 0px;
}
.krug-holder{
	flex-grow: 1;
}
.krug{
	background:#dc0101;
	color:#fff;
	font-size:48px;
	font-weight:bold;
	display: inline-block;
	padding:25%;
	height:50px;
	width:50px;
	border-radius: 50%;
}
.oznaka{
	font-size:24px;
	font-weight:bold;
	margin-top: 10px;
}
.tehnologije{
	margin: 25px 0px;
	display: flex;
		

}
.tehnologija{
	flex-grow:1;
	text-align: center;
}
.tehnologija img{
		height:48px;
		width:48px;
}
.tehnologija p{
	font-weight:bold;
}
#usluge{
	color:#fff;
}
#usluge h2{
	padding-top: 40px;
	font-size:30px;
}

#usluge-tekst{
font-size:25px;	
}
.service-row{
	display: flex;
	margin-bottom:40px;
	justify-content: space-between;
}
.service-row > div{
	text-align:center;
	position:relative;
	height:200px;
	width:300px;
	border: 1px solid #fff;
}
.service-row > div > img{
	height:200px;
	width:300px;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	
}
.service-row > div > p{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	padding:10px;
	background-color:#ffffffC0;
	margin-bottom:0px;
	color:#000;
	border-top: solid #fff;
	font-weight:bold;
}
